Repository jackson-yyy/chill-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json}": ["prettier --write"],
  "*.{js,ts,tsx,vue}": ["eslint --fix"],
  "*.less": ["stylelint --fix"]
}

build(packages): adjust build scripts
  package.json
  packages/lib/core/package.json
  packages/lib/render/vue2/package.json
  packages/lib/render/vue3/package.json
  rollup.config.js
  scripts/build.ts
  scripts/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: 初始化demo
  .ls-lint.yml
  lerna.json
  package-lock.json
  package.json
  packages/demo/vue2/.gitignore
  packages/demo/vue2/README.md
  packages/demo/vue2/__tests__/demo-vue2.test.js
  packages/demo/vue2/babel.config.js
  packages/demo/vue2/lib/demo-vue2.js
  packages/demo/vue2/package.json
  packages/demo/vue2/public/favicon.ico
  packages/demo/vue2/public/index.html
  packages/demo/vue2/src/App.vue
  packages/demo/vue2/src/assets/logo.png
  packages/demo/vue2/src/components/HelloWorld.vue
  packages/demo/vue2/src/main.js
  packages/demo/vue3/.gitignore
  packages/demo/vue3/README.md
  packages/demo/vue3/__tests__/demo-vue3.test.js
  packages/demo/vue3/babel.config.js
  packages/demo/vue3/lib/demo-vue3.js
  packages/demo/vue3/package.json
  packages/demo/vue3/public/favicon.ico
  packages/demo/vue3/public/index.html
  packages/demo/vue3/src/App.vue
  packages/demo/vue3/src/assets/logo.png
  packages/demo/vue3/src/components/HelloWorld.vue
  packages/demo/vue3/src/main.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor: use pnpm
  .stylelintrc.json
  lerna.json
  package.json
  packages/demo/vue2/package.json
  packages/demo/vue3/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write

docs: 更新development文档
  README.md
Due: none

refactor: 完善eslint配置
  configs/eslint-config/base.js
  configs/eslint-config/package.json
  configs/stylelint-config/package.json
  package.json
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: convert package.json
  configs/eslint-config/package.json
  configs/stylelint-config/package.json
  demo/vue2/package.json
  demo/vue3/package.json
  package.json
  packages/core/package.json
  packages/vue2-render/package.json
  packages/vue3-render/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add jest
  configs/eslint-config/base.js
  jest.config.js
  package.json
  packages/core/__tests__/core.spec.ts
  packages/core/__tests__/core.test.js
  packages/vue2-render/__tests__/render.spec.ts
  packages/vue2-render/__tests__/vue2-render.test.js
  packages/vue3-render/__tests__/render.spec.ts
  packages/vue3-render/__tests__/vue3-render.test.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: vue render
  demo/vue2/package.json
  demo/vue2/src/App.vue
  demo/vue2/src/main.ts
  demo/vue2/vite.config.ts
  demo/vue3/package.json
  demo/vue3/src/App.vue
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/validate/index.ts
  packages/core/tsconfig.json
  packages/vue-render/README.md
  packages/vue-render/__tests__/vue2-render.test.js
  packages/vue-render/package.json
  packages/vue-render/src/index.ts
  packages/vue-render/src/render.tsx
  packages/vue-render/src/types.ts
  packages/vue-render/tsconfig.json
  packages/vue2-render/package.json
  packages/vue2-render/src/index.ts
  packages/vue3-render/README.md
  packages/vue3-render/__tests__/vue3-render.test.js
  packages/vue3-render/src/index.ts
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

refactor: 重构vue-render打包脚本
  .ls-lint.yml
  package.json
  packages/core/tsconfig.json
  packages/vue-render/package.json
  packages/vue-render/scripts/postinstall.ts
  packages/vue-render/src/render.tsx
  packages/vue-render/src/types.ts
  packages/vue-render/tsconfig.json
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  scripts/build/utils.ts
Due: prettier --write, eslint --fix

docs: 更新readme
  README.md
Due: none

feat: vue-render检测是否安装Composition API
  packages/vue-render/scripts/postinstall.ts
Due: prettier --write, eslint --fix

refactor: 更新打包脚本
  packages/core/package.json
  packages/core/tsconfig.json
  packages/vue-render/tsconfig.json
Due: prettier --write

fix: vue-render打包问题
  README.md
  demo/vue2/package.json
  demo/vue2/src/App.vue
  demo/vue2/src/shims-vue.d.ts
  demo/vue2/tsconfig.json
  demo/vue2/vite.config.ts
  demo/vue3/src/App.vue
  demo/vue3/tsconfig.json
  demo/vue3/vite.config.ts
  lerna.json
  package.json
  packages/core/tsconfig.json
  packages/vue-render/package.json
  packages/vue-render/src/render.tsx
  packages/vue-render/src/types.ts
  packages/vue-render/tsconfig.json
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  scripts/build/utils.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: vue-render同时打包vue2/vue3的问题
  lerna.json
  packages/vue-render/package.json
  packages/vue-render/scripts/cli/resetVersion.ts
  packages/vue-render/scripts/cli/switchVersion.ts
  packages/vue-render/scripts/utils.ts
  packages/vue-render/src/render.tsx
  packages/vue-render/tsconfig.json
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: 删除冗余代码
  demo/vue2/package.json
  package.json
  packages/vue-render/src/render.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: 修改demo引用包方式
  demo/vue2/src/App.vue
  demo/vue2/tsconfig.json
  demo/vue2/vite.config.ts
  demo/vue3/src/App.vue
  demo/vue3/tsconfig.json
  demo/vue3/vite.config.ts
  lerna.json
  packages/vue-render/src/render.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: 更新eslint规则
  configs/eslint-config/base.js
  configs/eslint-config/vue2.js
  configs/eslint-config/vue3.js
  demo/vue2/src/App.vue
  demo/vue2/src/components/HelloWorld.vue
  demo/vue3/src/App.vue
  demo/vue3/src/components/HelloWorld.vue
  demo/vue3/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(vue-render): add render feature
  configs/eslint-config/base.js
  demo/common/uiSchems.ts
  demo/vue2/src/App.vue
  demo/vue3/package.json
  demo/vue3/src/App.vue
  demo/vue3/src/data/uiSchems.ts
  demo/vue3/src/main.ts
  packages/core/package.json
  packages/vue-render/package.json
  packages/vue-render/src/components/hooks.ts
  packages/vue-render/src/components/render.ts
  packages/vue-render/src/index.ts
  packages/vue-render/src/render.tsx
  packages/vue-render/src/shims-vue.d.ts
  packages/vue-render/src/types.ts
  packages/vue-render/src/types/index.ts
  packages/vue-render/src/types/render.ts
  packages/vue-render/src/types/schema.ts
  packages/vue-render/src/utils/demi.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: resolve error
  packages/vue-render/src/components/hooks.ts
Due: prettier --write, eslint --fix

chore: 优化代码
  demo/common/uiSchems.ts
  demo/vue2/src/App.vue
  demo/vue2/src/assets/logo.png
  demo/vue2/src/data/uiSchems.ts
  demo/vue2/tsconfig.json
  demo/vue2/vite.config.ts
  demo/vue3/package.json
  demo/vue3/src/App.vue
  demo/vue3/src/data/uiSchemas.ts
  demo/vue3/tsconfig.json
  demo/vue3/vite.config.ts
  packages/core/package.json
  packages/vue-render/src/types/render.ts
  packages/vue-render/src/types/schema.ts
Due: prettier --write, eslint --fix

fix: 支持同时启动vue2/3的demo
  .pnpmfile.cjs
  .stylelintignore
  configs/stylelint-config/index.js
  demo/vue2/package.json
  demo/vue2/vite.config.ts
  demo/vue3/vite.config.ts
  package.json
  packages/core/tsconfig.json
  packages/vue-render/src/components/render.ts
  packages/vue-render/src/utils/demi.ts
  packages/vue-render/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

feat: 完善打包脚本
  .pnpmfile.cjs
  packages/vue-render/scripts/utils.ts
  packages/vue-render/src/components/render.ts
  packages/vue-render/src/utils/demi.ts
  pnpm-lock.yaml
  scripts/build/base.config.ts
  scripts/build/index.ts
  scripts/build/utils.ts
Due: prettier --write, eslint --fix

test: add test config
  .npmrc
  .pnpmfile.cjs
  configs/eslint-config/base.js
  demo/vue2/package.json
  demo/vue2/tsconfig.json
  demo/vue3/package.json
  demo/vue3/src/data/uiSchemas.ts
  demo/vue3/src/main.ts
  demo/vue3/tsconfig.json
  jest.config.ts
  package.json
  packages/core/__tests__/core.test.js
  packages/vue-render/__tests__/data/simpleRender.ts
  packages/vue-render/__tests__/vue2-render.test.js
  packages/vue-render/__tests__/vue3/render.spec.ts
  packages/vue-render/package.json
  packages/vue-render/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 优化ts paths配置
  demo/vue2/tsconfig.json
  demo/vue3/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

feat: 数据层编码
  demo/vue2/package.json
  demo/vue2/src/App.vue
  demo/vue2/src/data/uiSchems.ts
  demo/vue3/package.json
  demo/vue3/src/App.vue
  demo/vue3/src/data/uiSchemas.ts
  demo/vue3/tsconfig.json
  packages/core/src/dataControl.ts
  packages/core/src/formData/index.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/types/schema.ts
  packages/core/src/types/uiSchema.ts
  packages/vue-render/package.json
  packages/vue-render/src/components/hooks.ts
  packages/vue-render/src/components/render.ts
  packages/vue-render/src/index.ts
  packages/vue-render/src/shims-vue.d.ts
  packages/vue-render/src/types/render.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

perf: 优化vue-render，减少rerender次数
  packages/vue-render/src/components/hooks.ts
  packages/vue-render/src/components/render.ts
Due: prettier --write, eslint --fix
